html,
body {
  height: 100%;
  width: 100%;
}

header {
  height: 10%;
}

main {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card-main {
  width: 110px;
  height: 160px;
  background-color: whitesmoke;
  border-radius: 5px;

  -webkit-box-shadow: 1px 1px 7.5px 2.5px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 1px 1px 7.5px 2.5px rgba(0, 0, 0, 0.32);
  box-shadow: 1px 1px 7.5px 2.5px rgba(0, 0, 0, 0.32);
}

.card-inner {
  width: 100px;
  height: 150px;
  margin: -17.5px 5px 5px 5px;
  background-color: #fd0000;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ellipse {
  height: 100%;
  width: 78%;
  background-color: whitesmoke;
  border-radius: 50%;
  transform: rotate(30deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ellipse > span {
  transform: rotate(-30deg);
  font-size: 90px;
  color: #fd0000;
  text-shadow: 1.5px 1.5px 5px black;
}

.number-left {
  margin-top: 5px;
  margin-left: 7.5px;
  font-size: 15px;
  color: whitesmoke;
}

.number-right {
  float: right;
  margin-top: -22.5px;
  margin-right: 7.5px;
  font-size: 15px;
  color: whitesmoke;
}
