
#wrapper{
    padding-top:15px;
    margin:0 auto;
    padding-bottom:30px;
    background:#EBF4FB;
    width:350px;
    border:1px solid #2196F3; }



#chatbox {
    font-size: 2px;

    text-align:left;
    margin:0 auto;
    margin-bottom:5px;
    padding:10px;
    background:#fff;
    height:120px;
    width:330px;
    border:1px solid #ACD8F0;
    overflow:auto;
}

#usermsg {

    padding: 3px 10px 3px;
    width:75%;
    height:2em;
    margin-left: 5%;
    border:1px solid #ACD8F0;

}


#submitmsg {
    padding: 3px 1px 3px;
    text-align: center;
    width:15%;
    height: 3em;
    margin-right: 5%;

}
#Chat {
    text-align: center;
    color: #2196F3;

}

#menu {

}

#ChatTable{
    font-size: 10.5px;


}
@media only screen and (min-width: 1210px) {
    .ChatContainer {

        font-family: Verdana, sans-serif;
        font-size: 15px;
        line-height: 1.5;
        align-content: left;
        bottom: 0.2em;
        position: absolute;

    }
}
@media only screen and (max-width: 1210px) {
    .ChatContainer {

        font-family: Verdana, sans-serif;
        font-size: 15px;
        line-height: 1.5;

        width: 100%;
        position: absolute;

    }
}

@media only screen and (max-width: 1210px) {
    #wrapper {
        padding-top: 15px;
        margin: 0 auto;
        padding-bottom: 30px;
        background: #EBF4FB;
        width: 100%;
        border: 1px solid #2196F3;
    }
}
@media only screen and (max-width: 1210px) {
    #chatbox {
        font-size: 2px;

        text-align:left;
        margin:0 auto;
        margin-bottom:5px;
        padding:10px;
        background:#fff;
        height:120px;
        width:80%;
        border:1px solid #ACD8F0;
        overflow:auto;
    }

}
input[type=text]{
    background: white;
    color:black;
}

tr:nth-child(even) {

    background-color: #EBF4FB ;
}

{}
