html,
body {
  margin: 0;
}

.play-table {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* border: 5px solid blue; */
}

.top-table {
  width: 100%;
  height: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* border: 2px solid red; */
}

.middle-table {
  width: 100%;
  height: 40%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  /* justify-content: space-between; */
  /* border: 2px solid green; */
}

.center-table {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* border: 1px solid grey; */
}

.status-bar {
  width: 100%;
  height: 15%;

  font-size: 20;
  font-weight: bold;

  color: #7768ae;

  display: flex;
  align-items: center;
  justify-content: center;
}

.center-left-table {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.center-right-table {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cards-on-table {
  width: 70%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bottom-table {
  width: 100%;
  height: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid brown; */
}

/*Players and their hands */
.player {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  /* background-color: aquamarine; */
}

.otherPlayer {
  width: 80%;
  display: flex;
}

.hand {
  margin-left: 10%;
  width: 100%;
  height: 80%;

  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.other-hand {
  margin-left: 10%;
  width: 95%;
  height: 95%;

  overflow: hidden;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/*Uno card modifications*/

.others-uno-card {
  margin-left: -60px;
  background: white;
}

.first-uno-card {
  background: white;
  margin-left: -60px;
}

.highlight-playable-card {
  margin-left: -60px;
  opacity: 1;
  cursor: pointer;
}

.non-playable-card {
  opacity: 1;
  margin-left: -60px;
}

.non-playable-card > div {
  opacity: 0.1;
}

.uno-card {
  width: 110px;
  height: 160px;
  background-color: white;
  border-radius: 5px;

  -webkit-box-shadow: 1px 1px 7.5px 2.5px rgba(51, 50, 50, 0.26);
  -moz-box-shadow: 1px 1px 7.5px 2.5px rgba(51, 50, 50, 0.26);
  box-shadow: 1px 1px 7.5px 2.5px rgba(51, 50, 50, 0.26);
  z-index: 0;
  position: relative;
}

.uno-card-inner {
  max-width: 90%;
  max-height: 95%;
  min-width: 90%;
  min-height: 95%;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.uno-design-inner {
  min-height: 100%;
  min-width: 79%;
  max-height: 100%;
  max-width: 79%;
  background-color: white;
  border-radius: 50%;
  transform: rotate(30deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.uno-design-inner > span {
  transform: rotate(-30deg);
  font-size: 90px;
  text-shadow: 1.5px 1.5px 5px black;
  background: transparent;
}

.number-left {
  top: 10px;
  left: 10px;
  font-size: 20px;
  color: white;
  position: absolute;
  z-index: 1;
}

.number-right {
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  color: white;
  position: absolute;
}

.red {
  color: #d33e32;
  background: #d33e32;
}

.blue {
  color: #5bc0eb;
  background: #5bc0eb;
}

.green {
  color: #9bc53d;
  background: #9bc53d;
}

.yellow {
  color: #f6db18;
  background: #f6db18;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pile-stack {
  display: flex;
  flex-direction: row;
}

.player-name {
  background-color: black;
  color: white;
  width: 80%;
  text-align: center;
  margin-top: 2px;
}

.non-current-player {
  display: none;
  margin-right: 10%;
}

.current-player {
  display: visible;
  margin-right: 10%;
  animation: blink 0.9s linear infinite;
}

.player-name-div {
  width: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pile-stack-card {
  margin-left: -95px;
  background: white;
}

.action-btns {
  height: 15%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pass {
  width: 10%;
  height: 70%;
  text-align: center;
  line-height: 2.5;
  cursor: pointer;
  background-color: black;
  color: white;
}

