.play-table {
  width: 100%;
  height: 92%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-table {
  width: 100%;
  height: 35%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center-table {
  width: 50%;
  height: 30%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middle-table {
  width: 100%;
  height: 50%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center-left-table {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.center-right-table {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cards-on-table {
  width: 60%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bottom-table {
  width: 100%;
  height: 35%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*Players and their hands */
.player {
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player1 {
  width: 80%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.player2 {
  width: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player3 {
  width: 80%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.otherPlayer {
  width: 80%;
  display: flex;
}

.hand {
  width: 100%;
  height: 65%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.other-hand {
  width: 80%;
  height: 90%;

  overflow: hidden;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/*Uno card modifications*/

.others-uno-card {
  margin-left: -60px;
  background: white;
}

.first-uno-card {
  background: white;
  margin-left: -60px;
}

.highlight-playable-card {
  opacity: 1;
  cursor: pointer;
}
.non-playable-card {
  opacity: 1;
}
