.guide-book {
  width: 80%;
  height: 80%;

  background: white;
  border-radius: 10px;
}

.sub-heading {
  font-size: 20px;
  font-weight: bold;
}

.rules-data {
  padding: 20px;
  height: 95%;

  font-weight: 100;

  overflow: scroll;
}

.third-heading {
  font-weight: 500;
  font-size: 16px;
  text-decoration: underline;
}

p {
  font-size: 16px;
}

.text {
  line-height: 1.5;
}

