body,
html {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  font-family: sans-serif;
}

.loader {
  height: 20%;
  width: 30%;
  border: 5px solid #ffdf00;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-radius: 50%;

  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h3,
h4 {
  font-size: 25px;
}

.players-container {
  height: 80%;
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.lobby-uno-card {
  margin: 0% 5%;
  height: 200px;
  width: 150px;
  background-color: white;
  -webkit-box-shadow: 1px 1px 7.5px 2.5px rgba(51, 50, 50, 0.26);
  -moz-box-shadow: 1px 1px 7.5px 2.5px rgba(51, 50, 50, 0.26);
  box-shadow: 1px 1px 7.5px 2.5px rgba(51, 50, 50, 0.26);
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: margin-bottom 2s;
}

.lobby-uno-card-inner {
  width: 90%;
  height: 94%;
  border-radius: 5px;
  background-color: #2f2f2f;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

.lobby-uno-design-inner {
  height: 100%;
  width: 82%;
  background-color: white;
  border-radius: 50%;
  transform: rotate(30deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d33e32;
}

.name-of-player {
  width: 110%;
  transform: rotate(-30deg);
  font-size: 20px;
  font-weight: bold;
  /* position: absolute; */
  text-align: center;

  background: -webkit-linear-gradient(#ffff90, #ffdf00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gameKey-container {
  height: 20%;
  font-size: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.gameKey {
  border: none;
  font-size: 20px;
  font-weight: bold;
  width: 170px;
}

.gameKey:focus {
  outline: none;
}

.copy-btn {
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
}

