
/* General styles through out the Pages */
body,
html {
  width: 99.5%;
  height: 98%;

  font-family: sans-serif;
}

main {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 8%;

  font-family: inherit;
  font-size: 25px;
  font-weight: bold;

  text-align: center;
  line-height: 2.3;
  border-bottom: 1px solid black;
}

a {
  text-decoration: none;
  color: black;
}

a:focus {
  outline: none;
}

input,
select,
button {
  border: none;
}

input,
select,
button:focus {
  outline: none;
}

button {
  cursor: pointer;
}

::placeholder {
  color: #ffdf00;
}

::selection {
  background: transparent;
}
/* HomePage ,Join Page and Host Page Styles */

.table {
  width: 100%;
  height: 92%;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.host-room {
  width: 100%;
  height: 50%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* Theme card styles */

.theme-cards {
  height: 320px;
  width: 220px;
}

.theme-uno-card {
  border: 0.8px solid rgb(49, 48, 48);
  border-radius: 10px;

  background: white;
  box-shadow: 8px 8px 15px rgb(104, 99, 99);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  position: relative;
}

.theme-uno-card-inner {
  width: 94%;
  height: 96%;
  /*  */
  border-radius: 10px;
  /* border: 1px solid black; */
  /* background: black; */
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.theme-uno-design-inner {
  min-height: 100%;
  min-width: 82%;
  max-height: 100%;
  max-width: 82%;

  /* background-color: #d33e32; */
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transform: rotate(30deg);
  z-index: 0;
  /* overflow: hidden; */
}

.theme-uno-design-inner > span {
  font-family: sans-serif;
  font-weight: 100;
  text-align: center;

  transform: rotate(-30deg);
}

/* Host Page styles*/

.theme-uno-design-inner > select,
input {
  width: 82%;

  font-size: 29px;
  font-weight: 100;
  text-align: center;

  border-bottom: 1px solid #ffdf00;
  background: #d33e32;
  color: #ffdf00;

  transform: rotate(-30deg);
}

/* ................................... */
.uno-card {
  min-height: 140px;
  min-width: 100px;
  max-width: 100px;
  max-height: 140px;
  border: 0px solid rgb(100, 100, 100);
  border-radius: 7px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: margin-bottom 2s;
}

.uno-card-inner {
  height: 88%;
  width: 90%;
  border-radius: 7px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.invalid-input {
  color: red;
  font-size: 25px;
}

/* colors */

.black {
  background: black;
}

.red {
  color: #d33e32;
  background: #d33e32;
}

.blue {
  color: #5bc0eb;
  background: #5bc0eb;
}

.green {
  color: #9bc53d;
  background: #9bc53d;
}

.yellow {
  color: #f6db18;
  background: #f6db18;
}

.white {
  color: white;
  background: white;
}

.theme-color {
  font-size: 29px;

  background: -webkit-linear-gradient(#ffff90, #ffdf00);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.big-theme-card{
  width:330px;
  height:480px;
}

.single-btn{
  cursor: pointer;

  font-family: sans-serif;
  font-weight: 100;

  text-indent: -10%;

  text-shadow: 0 -1px 1px #fbeb37;

  transform: rotate(-30deg);
}

.inner-container{
  height:252px;
  width:100%;

  display:flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-evenly;
}

.drop-down-menu{
  width: 82%;

  font-size: 29px;
  font-weight: 100;

  text-indent:40%;

  border-bottom: 2px solid #ffdf00;
  background: #d33e32;
  color: #ffdf00;

  transform: rotate(-30deg);

}
