/* General styles through out the Pages */
body,
html {
  width: 99.5%;
  height: 98%;
  margin: 0 0;

  font-family: sans-serif;
}
a:hover {
  cursor: pointer;
}

main {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 10%;

  font-family: inherit;
  font-size: 25px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 2.3;
  /* border-bottom: 1px solid black; */
}

.uno-symbol-ellipse {
  background: #d33e32;
  height: 80%;
  width: 8%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-30deg);
  font-family: serif;
  font-size: 220%;
  font-weight: 900;
  color: #f6db18;
  text-shadow: -0.5px 0.5px black, -1px 1px black, -1.5px 1.5px black, -2px 2px black, -2.5px 2.5px black,
    -3px 3px black, -3.5px 3.5px black;
}

a {
  text-decoration: none;
  color: black;
}

a:focus {
  outline: none;
}

input,
select,
button {
  border: none;
}

input,
select,
button:focus {
  outline: none;
}

button {
  cursor: pointer;
}

::placeholder {
  color: #ed896b;
}

/* HomePage ,Join Page and Host Page Styles */

.table {
  width: 100%;
  height: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.host-room {
  width: 100%;
  height: 93%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* Theme card styles */

.theme-cards {
  height: 350px;
  width: 250px;
}

.overlay {
  /* visibility: hidden; */
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  background: rgba(37, 37, 37, 0.918);
  animation: animatezoom 0.6s;
}

.theme-uno-card {
  border: 0px solid rgb(100, 100, 100);
  border-radius: 7px;
  padding: 1px 0.5px;

  background: whitesmoke;
  box-shadow: 8px 8px 15px rgb(104, 99, 99);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: margin-bottom 2s;
  z-index: 0;
  position: relative;
}

.theme-uno-card-inner {
  width: 90%;
  height: 93%;
  /*  */
  border-radius: 10px;
  /* border: 1px solid black; */
  /* background: black; */
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.theme-uno-design-inner {
  min-height: 100%;
  min-width: 82%;
  max-height: 100%;
  max-width: 82%;

  /* background-color: #d33e32; */
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transform: rotate(30deg);
  z-index: 0;
  /* overflow: hidden; */
}

.theme-uno-design-inner > div {
  font-family: sans-serif;
  font-weight: 100;
  text-align: center;

  transform: rotate(-30deg);
}

/* Host Page styles*/

.theme-uno-design-inner > select,
input {
  width: 82%;

  font-size: 29px;
  font-weight: 100;
  text-align: center;

  border-bottom: 1px solid #ffdf00;
  background: transparent;
  color: #ffdf00;
}

/* ................................... */

.invalid-input {
  text-align: center;
  height: 7%;
  width: 100%;
  color: #d33e32;
  font-size: 25px;
  font-weight: 100;
}

/* colors */

.black {
  background: #2f2f2f;
}

.red {
  color: #d33e32;
  background: #d33e32;
}

.blue {
  color: #5bc0eb;
  background: #5bc0eb;
}

.green {
  color: #9bc53d;
  background: #9bc53d;
}

.yellow {
  color: #f6db18;
  background: #f6db18;
}

.white {
  color: white;
  background: whitesmoke;
}

.theme-color {
  font-size: 29px;

  background: -webkit-linear-gradient(#ffff90, #ffdf00);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.big-theme-card {
  width: 28%;
  height: 100%;
}

.single-btn {
  font-size: 29px;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 100;
  border-radius: 10px;
  text-align: center;
  background: #ffde00;
  color: #d33e32;
}

.inner-container {
  height: 252px;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transform: rotate(-30deg);
  background-color: transparent;
}

.drop-down-menu {
  width: 82%;

  font-size: 29px;
  font-weight: 100;

  text-indent: 40%;

  border-bottom: 2px solid #ffdf00;
  background: transparent;
  color: #ed896b;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.black-background {
  background: black;
  color: white;
  padding: 5px;
  border-radius: 3px;
}

.red-background {
  background: #d33e32;
  color: white;
  padding: 5px;
  border-radius: 3px;
}

.green-background {
  background: #9bc53d;
  color: white;
  padding: 5px;
  border-radius: 3px;
}

˚º .blue-background {
  background: #5bc0eb;
  color: white;
  padding: 5px;
  border-radius: 3px;
}

.yellow-background {
  background: #ffdf00;
  color: white;
  padding: 5px;
  border-radius: 3px;
}

.status-icon {
  height: 40px;
  width: 40px;
}

.inner-status-div {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 30px;
  font-weight: bold;
}

.close-btn:hover {
  cursor: pointer;
}

.close-div {
  width: 100%;
  height: 100%;
}

.copy-btn {
  cursor: pointer;

  font-size: 35px;
  font-weight: bold;

  color: rgb(0, 0, 0);
}

.gameKey {
  border: none;
  font-size: 20px;
  font-weight: bold;

  width: 170px;

  background: transparent;
  color: black;

  transform: rotate(0deg);
}

.gameKey:focus {
  outline: none;
}

.uno-header {
  font-family: serif;
  font-size: 50px;
  font-weight: 900;
  color: #f6db18;
  text-shadow: 0.5px 1.5px black, 0px 2px black, -0.5px 2.5px black, -1px 3px black, -1.5px 3.5px black, -2px 4px black,
    -2.5px 4.5px black;
}
