.score-table{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 26, 26, 0.8);
  box-shadow: 0px 0px 10px black;
  color: white;
  text-shadow: 1px 0px 5px black;
}

.score-table tr:nth-child(even) {
	background-color: transparent;
}

.score-table td {
	vertical-align: center;
}

.backgroundImg{
  width: 172px;
  height: 115px;
  margin-bottom: 20px;
}

.point{
  padding-left: 40px;
  text-align: right;
}

.leaderboard{
  margin-bottom: 30px;
}

.winMessage{
  font-weight: bold;
  font-size: 18px;
  text-shadow: 1px 0px 10px grey;
}

.lead-img{
	width: 25px;
	height: 25px;
}
